<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!--导入redis文件-->
	<import resource="classpath:applicationContext-redis.xml"/>
	<!--导入mail文件-->
	<import resource="classpath:applicationContext-mail.xml"/>

	<!--扫描service包-->
	<context:component-scan base-package="org.itrip.auths.service"/>
	<context:annotation-config/>
	<!--加载属性文件-->
	<context:property-placeholder location="classpath:database.properties,classpath:sms.properties"/>

	<!--<bean name="systemConfig" class="cn.itrip.common.SystemConfig">-->
	<!--<property name="smsAccountSid" value="${sms.accountSid}" />-->
	<!--<property name="smsAuthToken" value="${sms.authToken}" />-->
	<!--<property name="smsAppID" value="${sms.appID}" />-->
	<!--<property name="smsServerIP" value="${sms.serverIP}" />-->
	<!--<property name="smsServerPort" value="${sms.serverPort}" />-->
	<!--</bean>-->

	<!--数据源-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${mysql.driver}"/>
		<property name="url" value="${mysql.url}"/>
		<property name="username" value="${mysql.user}"/>
		<property name="password" value="${mysql.password}"/>
	</bean>
	<!--配置sqlSessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!--事务管理-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<tx:advice id="tx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="itriptx*"  propagation="REQUIRED" rollback-for="Exception"  />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="pc" expression="execution(public * org.itrip.auths.service..*.*(..))"/>
		<aop:advisor advice-ref="tx" pointcut-ref="pc"/>
	</aop:config>

	<!--配置mapper-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.itrip.mapper"/>
	</bean>
</beans>